{% extends 'basic.html' %}
{% block content %}
<div>
    <form action="/users" method="get">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{ form.name }}">

        <label for="gender">Gender</label>
        <select id="gender" name="gender">
            <option value="" {% if form.gender == "" %}selected{% endif %}>All</option>
            <option value="Male" {% if form.gender == "Male" %}selected{% endif %}>Male</option>
            <option value="Female" {% if form.gender == "Female" %}selected{% endif %}>Female</option>
        </select>
    </form>
</div>